<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#"><i class="icon-th-large"></i> Dashboard</a></li>
  <li><a href="#"><i class="icon-time"></i> Hours</a></li>
  <li><a href="#"><i class="icon-briefcase"></i> Files</a></li>
  <li><a href="#"><i class="icon-list-alt"></i> Invoices</a></li>
  <li><a href="#"><i class="icon-tags"></i> Tags</a></li>
  <li><a href="#"><i class="icon-user"></i> Contacts</a></li>
  <li><a href="#"><i class="icon-th-list"></i> Lists</a></li>
</ul>
