<h1>TestBootstrap</h1>

<p>A testbed for UI development using Twitter Bootstrap.</p><br />

<p><strong>Example views</strong>:</p>


<table class="table table-condensed table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>View</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/index">Index</a></td>
      <td>An index view showing paginated results, search and activity button placement.</td>
    </tr>
    <tr>
      <td><a href="/index_filter">Index Filter</a></td>
      <td>An index view including a filter bar.</td>
    </tr>
  </tbody>
</table>
